#a6736{
    background-image: url(https://img.gta5-mods.com/q95/images/ural-m-6736-tuning-akrom/14267d-%D0%91%D0%B5%D0%B7%D1%8B%D0%BC%D1%8F%D0%BD%D0%BD%D1%8B%D0%B96.png);
}
#camper{
    background-image: url(https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcRzszNjblBtBYkH6kG9DyJrEkBUMrVSSVTJMw&s);
}
#contendercustom{
    background-image: url(https://img.gta5-mods.com/q95/images/vapid-contender-custom-add-on/e102a9-7.jpg);
}
#kalahari{
    background-image: url(https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcQKylXFIYlpCaK2tDMiB6Ex9jWCPricJ0gXOw&s);
}
#slave{
    background-image: url(https://gamesmods.net/uploads/posts/2019-02/1550442739_4af394-eve-20180908171016_103.jpg);
}
#spirit{
    background-image: url(https://img.gta5-mods.com/q75/images/western-spirit-chopper-add-on-1-0/575f65-20180413115645_1.jpg);
}
#terl300{
    background-image: url(https://img.gta5-mods.com/q75/images/benefactor-l300-add-on-handling-tuning/f54fa8-20191117224428_1.jpg);
}
#verin{
    background-image: url(https://img.gta5-mods.com/q75-w500-h333-cfill/images/lcc-templar-add-on/2c6ec9-20191104145624_1.jpg);
}
#weevilcustom{
    background-image: url(https://staticg.sportskeeda.com/editor/2023/02/9991f-16756487570088-1920.jpg);
}