#avarus{
    background-image: url(https://pbs.twimg.com/media/CvGKEbRVUAAO6Vj?format=jpg&name=small);
}
#bagger{
    background-image: url(https://gtamag.com/images/photo/gta-mag-western-bagger2-gtao-793977.jpg);
}
#chimera{
    background-image: url(https://gtamag.com/images/photo/gta-mag-nagasaki-chimera2-gtao-799409.jpg);
}
#cliffhanger{
    background-image: url(https://gtamag.com/images/photo/gta-mag-nagasaki-chimera2-gtao-799409.jpg);
}
#daemon{
    background-image: url(https://i.redd.it/hkfqi82hymq11.jpg);
}
#gargoyle{
    background-image: url(https://pbs.twimg.com/media/Fq9y0vDXgAAXb1B?format=jpg&name=360x360);
}
#hexer{
    background-image: url(https://i.redd.it/ezjqzwsr8s6c1.jpeg);
}
#hvrod{
    background-image: url(https://img.gta5-mods.com/q95/images/harley-davidson-fat-boy-terminator-2-hq-add-on/f77e6e-EVE-20180330015957.007.jpg);
}
#innovation{
    background-image: url(http://donks.ru/sites/default/files/vehicles/LCC%20Innovation.jpg);
}
#nightblade{
    background-image: url(https://i.ytimg.com/vi/1Vhppv9DyiU/maxresdefault.jpg);
}
#ratbike{
    background-image: url(https://img.atwiki.jp/gtav/attach/1668/7709/Rat_Bike_main.jpg);
}
#rrocket{
    background-image: url(https://gtamag.com/images/photo/gta-mag-western-rampant-rocket2-gtao-795363.jpg);
}
#sanctus{
    background-image: url(https://preview.redd.it/looking-to-buy-lcc-sanctus-on-ps4-v0-v69a1tugpm9d1.jpeg?auto=webp&s=4a8e38991ebe8dd775e47667b68e021879259994);
}
#sovereign{
    background-image: url(https://preview.redd.it/a2wnceclk8k91.jpg?width=1080&crop=smart&auto=webp&s=7e693d6d201c344c7ad088d682935b87a6ecc3f2);
}
#wolsbane{
    background-image: url(https://preview.redd.it/ltb-wolfsbane-zombie-bobber-and-rat-bike-v0-aonxf7iy0sfb1.png?width=1080&crop=smart&auto=webp&s=fa6e3e84a2b04464fb583d031e50348fe20f9c74);
}
#zombiebobber{
    background-image: url(https://pbs.twimg.com/media/EQzSGvFUUAASZDN?format=jpg&name=large);
}
#zombiechopper{
    background-image: url(https://i.ytimg.com/vi/NEw2vt5eLtk/maxresdefault.jpg);
}