#akuma{
    background-image: url(https://preview.redd.it/t60usa0qt7z71.png?width=1742&format=png&auto=webp&s=b300cd3454a3f954ea636aa5375f8ba013cf2bb9);
}
#esskey{
    background-image: url(https://pbs.twimg.com/media/CxUPiW4WEAEi170?format=jpg&name=large);
}
#fcr1000{
    background-image: url(https://preview.redd.it/cg2n7wadsi551.jpg?width=1080&crop=smart&auto=webp&s=f18cc9f0703358b87c6c401d3680bf8d2eb572b3);
}
#fcr1000custom{
    background-image: url(https://preview.redd.it/9t6io69i1v0z.jpg?width=1080&crop=smart&auto=webp&s=e5f14a651b15294fa09617bbf513865566e4ea6c);
}
#lectro{
    background-image: url(https://img.atwiki.jp/gtav/attach/1357/7185/kbZVZqFggUaft-8mluI1zw_0_0.jpg);
}
#nemesis{
    background-image: url(https://external-preview.redd.it/Vf-ktQ04VHVGoxpuLahjUR2GdoJ1WnvivX5_7gNnKXk.jpg?width=640&crop=smart&auto=webp&s=4bb5c8282ca33f99772045e60f408079bf97e1b0);
}
#pcj600{
    background-image: url(https://gtamag.com/images/photo/gta-mag-shitzu-pcj-6002-gtao-823290.jpg);
}
#ruffian{
    background-image: url(https://gtamag.com/images/photo/gta-mag-pegassi-ruffian2-gtao-791541.jpg);
}
#thrust{
    background-image: url(https://external-preview.redd.it/r5usz4sjg2NKbW9-rAycJGYorUgK9IE5CeTPoJpvAFA.jpg?width=640&crop=smart&auto=webp&s=6bbe8a87dc53461a2fd6dc9497daa5ebf7044fd0);
}
#vader{
    background-image: url(https://gtamag.com/images/photo/gta-mag-shitzu-vader2-gtao-823258.jpg);
}
#vortex{
    background-image: url(https://gtamag.com/images/photo/gta-mag-pegassi-vortex2-gtao-791766.jpg);
}