#dunebuggy{
    background-image: url(https://oyster.ignimgs.com/mediawiki/apis.ign.com/grand-theft-auto-5/9/9d/BF_Dune_Buggy-GTAV.jpg);
}
#emperor{
    background-image: url(https://lh5.googleusercontent.com/tYY_7kGd1SPvYdgPM0ARDmWwnNE9GaXNOxwOILCrDJOnQAoW3zDkXL0ofnCxNC4f1x_PJV2BYDesmsE95QJXE20nSRs1gmkebP1JfP_3A9Y3I_8-uYBRr3vXbO9vEoRwRZZqZ6YhJvF12TJ4NxjOmvs);
}
#ratloader{
    background-image: url(https://lh6.googleusercontent.com/q0-95SCPxJNA4fKnSlo-7YtwoOowgW0Q_8HC9J84FuLISemMw_q6uJ76x_275p_Ay9gBvMexBK-e_zeZmbGcOr50_1XPUkOhqYGeqtuoL9280I-4TNbXKOaeYMBfDkLAK6vdj5axq89nUV8WfEH3ciQ);
}
#rebelretro{
    background-image: url(https://gtamag.com/images/photo/gta-mag-Rebelrouille-766229.jpg);
}
#tornado{
    background-image: url(https://gtahash.ru/cars/sport-classic/tornado3.jpg);
}
#tornadocab{
    background-image: url(https://vignette.wikia.nocookie.net/es.gta/images/b/bf/Tornado_mariachis_gta_v.jpg/revision/latest?cb=20131113202012);
}