#faggio{
    background-image: url(https://gtamag.com/images/photo/gta-mag-pegassi-faggio-sport2-gtao-767850.jpg);
}
#faggioretro{
    background-image: url(https://staticg.sportskeeda.com/editor/2023/05/d35c8-16832341669323-1920.jpg);
}
#faggiocustom{
    background-image: url(https://gtamag.com/images/photo/gta-mag-pegassi-faggio-mod2-gtao-767644.jpg);
}