#bati801{
    background-image: url(https://preview.redd.it/bike-love-v0-s06so3347cua1.jpg?width=1920&format=pjpg&auto=webp&s=5182091d2418d385255f2f6f6dc7efdc4b12f37b);
}
#bati801r{
    background-image: url(https://gtamag.com/images/photo/gta-mag-pegassi-bati-801rr2-gtao-789951.jpg);
}
#carbonrs{
    background-image: url(https://gtamag.com/images/photo/gta-mag-nagasaki-carbon-rs2-gtao-799257.jpg);
}
#defiler{
    background-image: url(https://gtamag.com/images/photo/gta-mag-shitzu-defiler2-gtao-823401.jpg);
}
#doublet{
    background-image: url(https://preview.redd.it/looking-for-the-dinka-double-t-v0-btxyib6d1r6b1.jpg?width=1080&crop=smart&auto=webp&s=8c37723a375b87e69cd6acbf24e7709dd450d25a);
}
#hakuchu{
    background-image: url(https://gtamag.com/images/photo/gta-mag-shitzu-hakuchou2-gtao-823361.jpg);
}
#hakuchusport{
    background-image: url(https://gtamag.com/images/photo/gta-mag-shitzu-hakuchou-drag2-gtao-823325.jpg);
}