#scorcher{
    background-image: url(https://lh4.googleusercontent.com/ItiAp2N_dxwH8OCyVjR0sFojL7SF7su72WnE6MoYJxFYiYn0MXlZwklFqf0gUPdzxkA2ClNODTCaVWKKdzpLtS8FSNmqI1LkNmjp5ygkBQlYIcERmgOGiMtSWj9XRzlFGqia7fNFNuJGYVrgXnIzLPo);
}
#bmx{
    background-image: url(https://staticg.sportskeeda.com/editor/2023/03/40ed6-16801592976563-1920.jpg);
}
#bimx{
    background-image: url(https://img.gta5-mods.com/q95/images/bmx-street-with-pegs-addon-replace/b78613-bmxst6.jpg);
}
#cruiser{
    background-image: url(https://lh6.googleusercontent.com/_BFeMKMOJYa6_GgB44HPTF5ZO6c1nakZC7gaEbEICy3KKSr2E9V6u1sgmUdbx8SrfX4ZE61KV-_cxa6EIVC-szVaegLd5NDSjMYbn4URnEDx5MNVt3LTZPR82gpuv4IVqaRdxpUEc4noEP8atzETu6k);
}
#tribike{
    background-image: url(https://img.gta5-mods.com/q85-w800/images/real-road-bike-pack/04bbf3-2015-11-15_00221.jpg);
}
#tribikeV2{
    background-image: url(https://img.gta5-mods.com/q95/images/real-road-bike-pack/04bbf3-2015-11-16_00021.jpg);
}
#fixter{
    background-image: url(https://i.ytimg.com/vi/6esx8w_WD7Q/maxresdefault.jpg);
}