#zx10r{
    background-image: url(https://img.gta5-mods.com/q95/images/kawasaki-zx10r-2017-replace-template/f4a7d5-zx6.jpg);
}
#yzfsm{
    background-image: url(https://img.gta5-mods.com/q95/images/yzfsm-white-and-blue-livery-2018/2b43e2-PGTA51179911442.jpg);
}
#yz450f{
    background-image: url(https://img.gta5-mods.com/q95/images/yamaha-yz450f-supermoto/461b1b-GTA5%202016-07-06%2017-44-43.jpg);
}
#sxf450{
    background-image: url(https://img.gta5-mods.com/q95/images/2011-ktm-450-sx-f/a88b1e-GTA5%202016-01-10%2019-12-10.jpg);
}
#crf450r{
    background-image: url(https://img.gta5-mods.com/q95/images/2009-honda-cr450r-special-edition/d564b0-Honda%20CRF%20450%20MvAR.jpg);
}
#crfsm{
    background-image: url(https://img.gta5-mods.com/q75/images/honda-crf450r-supermoto/d76008-Honda%20CRF450R%20SM0000.jpg);
}
#fc450{
    background-image: url(https://img.gta5-mods.com/q75/images/husqvarna-fc-450-2016/3c0902-Husky%20FC450_0000.jpg);
}
#ktmsupermot{
    background-image: url(https://img.gta5-mods.com/q95/images/2010-ktm-exc-530-supermoto/7b029e-KTM%20EXC%20SM0000.jpg);
}
#kx450f{
    background-image: url(https://img.gta5-mods.com/q95/images/kawasaki-kx450f/686052-kawasaki%20kx450f%202009_0000.jpg);
}
#ltr450{
    background-image: url(https://img.gta5-mods.com/q95/images/2009-suzuki-ltr-450-street-edition/df3a49-LTR%20450%20Street0000.jpg);
}
#ltrstar{
    background-image: url(https://img.gta5-mods.com/q75/images/suzuki-ltr-450-rockstar-energy/5f2a3d-LTR%20450%20Rockstar0000.jpg);
}
#kampfer{
    background-image: url(https://img.gta5-mods.com/q75-w350-h233-cfill/images/ubermacht-kampfer-addon/b52c10-5M854.png);
}
#sovereignvip{
    background-image: url(https://img.gta5-mods.com/q95/images/sons-of-anarchy-sovereign/edf50f-OHk-IlbgRUindKAHI4dQsA_0_0.jpg);
}
#wintergreen{
    background-image: url(https://img.gta5-mods.com/q95/images/wmc-wintergreen-sovereign-improvements-pack/e382fb-4.jpg);
}
#saltflat{
    background-image: url(https://img.gta5-mods.com/q95/images/maxwell-saltflat-600-add-on-fivem/89e664-saltflat2.PNG);
}
#phantomciv{
    background-image: url(https://img.gta5-mods.com/q95/images/jobuilt-phantom-improved-replace-tuning/57a8f1-1.jpg);
}
#mesagator{
    background-image: url(https://img.gta5-mods.com/q95/images/canis-gator-4x4-add-on-tuning-a8bada5c-a08e-4eb4-86a1-09226510da64/f865e8-gator1.jpg);
}
#roadunner{
    background-image: url();
}
#cavalcadelimo{
    background-image: url(https://img.gta5-mods.com/q95/images/albany-cavalcade-stretch-add-on-lods/d10d40-3.jpg);
}
#buscamping{
    background-image: url(https://img.gta5-mods.com/q95/images/coach-rv-add-on/485725-1.jpg);
}
#caracaracamping{
    background-image: url(https://i.ytimg.com/vi/BAonp1SG0g8/maxresdefault.jpg);
}
#angelretro{
    background-image: url(https://static.wikia.nocookie.net/gtawiki/images/4/41/Angel-TLAD-AOD.jpg);
}
#diabolusretro{
    background-image: url(https://i.postimg.cc/BvymQfyd/Capture-d-cran-2024-07-26-202425.png);
}
#freewayretro{
    background-image: url(https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcSUX2XSgiUV3u1KRkWz5K7inNWIYPpPZxCPeQ&s);
}
#hellfuryretro{
    background-image: url(https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcQOt-WRnR3YV2FGY_lkXtS6nT0do5QcC-TjMQ&s);
}
#lycanretro{
    background-image: url(https://static.wikia.nocookie.net/gtawiki/images/1/1d/Lycan-TLAD-front.png);
}
#sandstorm{
    background-image: url(https://img.gta5-mods.com/q95/images/vapid-sandstorm-add-on-tuning-liveries-lods/f761e9-3.jpg);
}
#sandstormxl{
    background-image: url(https://img.gta5-mods.com/q95/images/vapid-sandstorm-add-on-tuning-liveries-lods/f761e9-6.jpg);
}
#chimerac{
    background-image: url(https://img.gta5-mods.com/q95/images/nagasaki-chimera-chopper-add-on-tuning-fivem/aa9a53-chimera.PNG);
}
#dabob{
    background-image: url();
}
#hexerz2{
    background-image: url(https://img.gta5-mods.com/q85-w800/images/hexer-custom-replace-1-0/cb48e6-1.png);
}
#lpbagger{
    background-image: url(https://img.gta5-mods.com/q75/images/lcc-marabunta-add-on-fivem/fedb31-marabunta1.PNG);
}
#terabit{
    background-image: url(https://img.gta5-mods.com/q75/images/benefactor-terrorbyte-blitz-add-on-handling/553f6c-20191020175136_1.jpg);
}
#reever{
    background-image: url(https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcTj7hdIjygR9f-KkzSEBfWLW-61POTCel2MOg&s);
}
#shinobi{
    background-image: url(https://i.ytimg.com/vi/6raw1pHm5QA/maxresdefault.jpg);
}
#faggio6{
    background-image: url();
}
#patriot3{
    background-image: url(https://images-wixmp-ed30a86b8c4ca887773594c2.wixmp.com/f/9ccc269e-273c-4dfb-97c4-667cfae749f0/dfhhidp-4ffe2b91-0628-4dbd-b025-087d6bac16be.png/v1/fill/w_1280,h_720,q_80,strp/mammoth_patriot_mil_spec____gta_online__by_vicenzovegas21_dfhhidp-fullview.jpg?token=eyJ0eXAiOiJKV1QiLCJhbGciOiJIUzI1NiJ9.eyJzdWIiOiJ1cm46YXBwOjdlMGQxODg5ODIyNjQzNzNhNWYwZDQxNWVhMGQyNmUwIiwiaXNzIjoidXJuOmFwcDo3ZTBkMTg4OTgyMjY0MzczYTVmMGQ0MTVlYTBkMjZlMCIsIm9iaiI6W1t7ImhlaWdodCI6Ijw9NzIwIiwicGF0aCI6IlwvZlwvOWNjYzI2OWUtMjczYy00ZGZiLTk3YzQtNjY3Y2ZhZTc0OWYwXC9kZmhoaWRwLTRmZmUyYjkxLTA2MjgtNGRiZC1iMDI1LTA4N2Q2YmFjMTZiZS5wbmciLCJ3aWR0aCI6Ijw9MTI4MCJ9XV0sImF1ZCI6WyJ1cm46c2VydmljZTppbWFnZS5vcGVyYXRpb25zIl19.IVcvIgnWcu8eXNEWg_Kz4ArP5ZLvzYcA8gVUSO4g3ks);
}
#nightbladeretro{
    background-image: url(https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcS9wgZLxQTL481RgdrwKkDpbd8S_QOOTFnA4g&s);
}
#wolfsbaneretro{
    background-image: url(https://static.wikia.nocookie.net/gtawiki/images/f/ff/Wolfsbane-GTAO-front.png/revision/latest?cb=20161014165611);
}
#blazerxf{
    background-image: url();
}
#kamswb{
    background-image: url(https://files.libertycity.net/download/gta5_othercars/thumbs/2019-11/kamacho-swb-addon-1-0_1686002950_613962.jpg);
}
#dloader5{
    background-image: url(https://img.gta5-mods.com/q75/images/duneloader-crew-cab-replace/e48ff6-34.png);
}